.newsapi-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.newsapi-error__title {
  color: #1A1B22;
  font: 26px/30px 'RobotoSlab', Arial, sans-serif;
  font-weight: 400;
}

.newsapi-error__info {
  margin-top: 1rem;
  color: #B6BCBF;
  font: 18px/24px 'Roboto', Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .newsapi-error {
    padding: 2.5rem 0;
  }
}

@media screen and (min-width: 1440px) {
  .newsapi-error {
    padding: 5rem 0;
  }
}
